*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: greenyellow;
    display: inline;
}
h2{
    background-color: lawngreen;
    margin: 1px;
    display: inline;
}
.icones{
    width: 50px;
    margin: 10px;
    }
a{
    background-color: indigo; 
    color:lawngreen;
    border:solid 1px;
    border-color: black;
    padding: 1px;
    position: relative;
    bottom: 0;
    }
td{
    background-color: rgb(228, 181, 95);
    border: 3px solid black;  
}
th{
    background-color: rgb(228, 181, 95);
    border: 3px solid black;
}
li{
    color: rgb(37, 50, 124);
    line-height: 50px;
    list-style-position: inside;
}
.figuras{
    width: 100px;
}
.estilo-formulario{
    color:mediumblue;
    margin-bottom: 5px;
}
.botao{
    background-color: indigo; 
    color:lawngreen;
    padding: 2px;
    font-weight: bolder;
    border:solid 1px;
    border-color: lawngreen;
}
.botao:hover{
    background-color: white;
    color: black;
    cursor: pointer;

}
.teste-display{
    display: inline; 
    }
body{
    background-color: rgb(160, 140, 170);
    height: 100vh;
    text-align: center;
    }

.redes-sociais{
    margin-top: 10px;
}
.tabela{
    width: 500px;
    margin: auto
}
input{
    float: right;
}
form{
    width: 450px;
    margin: auto;
    position: relative;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: purple;
        }
.header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: purple;
    height: 120px;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    top 120px 
}

.container{
    height: 200vh;
    position: relative;
}

.subir-texto{
    position: relative;
    top: 0;
}
.inicial{
    position: absolute;
    top: 200px
    
}
