*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* width: 100vh; */
}

.container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 50px 1fr 50px;
    }

.header{
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: rgb(51, 30, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ec79b3;
    box-shadow: 1px 1px 2px purple; 
    
 }

 .nav{
     grid-column: 1/2;
     grid-row: 2/3;
     background-color: rgb(132, 107, 221);
     box-shadow: 1px 1px 2px purple; 
}

 .main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr) ;
    row-gap: 8px;
    column-gap: 8px ;
    padding: 8px 8px;
 }

 .footer{
     grid-column: 1/-1;
     grid-row: 3/4;
     background-color:rgb(51, 30, 72); 
     align-content: center; 
     color: #ec79b3;   
     font-family: Arial, Helvetica, sans-serif;
     box-shadow: 1px 1px 2px purple; 
 }

 .footer div{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
 }

 input{
     width: 300px;
 }
 /* index */

 .icon{
     width: 50px;
     height: 40px;
 }
 .icon-text{
     width: 500px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;    
 }
 
 .video-card{
     border: black solid 1px;
     box-shadow: 1px 1px 4px grey;
     padding: 8px 8px;
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;    
 }

 .nav-button{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 8px 0;
 }
 
.figure{
    width: 300px;
    height: 160px;
    border: solid black 1px;
    
}

 /* videos */

.container-videos{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 50px 1fr 50px;
}

 .aside{
     grid-column: 2/3;
     grid-row: 2/3;
     background-color: #795757;
 }
 
 .videos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 50px 2fr;
 }
 
 h2{
     grid-row: 2/3;
     margin-left: 16px;
 }

 .videos>div{
     grid-row: 3/4;
     margin: 0 16px;
    text-align: justify;
 }

 video{
    align-self: center;
    justify-self: center;
    width: 900px;
 }

 button{
     width: 80px;
     height: 24px;
     font-weight: bolder;
     text-decoration: none;
     box-shadow: 1px 1px 1px grey;
     
}
button:hover{
    cursor: pointer;
    background-color: grey ;
    
}

